
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ultimate-quiz-app-primary: mat-palette($mat-green);
$ultimate-quiz-app-accent: mat-palette($mat-grey, A200, A800, A700);

// The warn palette is optional (defaults to red).
$ultimate-quiz-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ultimate-quiz-app-theme: mat-light-theme((
  color: (
    primary: $ultimate-quiz-app-primary,
    accent: $ultimate-quiz-app-accent,
    warn: $ultimate-quiz-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ultimate-quiz-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.welcome {
  margin-top: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 40px;
}

.quiz-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-card {
  margin-bottom: 60px;
  height: 100px;
  width: 60%;
  border: 1px solid black;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.question {
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #03DAC6;
  max-height: 80px;
}

.header-nav {
  text-decoration: none;
  margin-top: 10px;
  color: black;
  overflow: hidden;
}

.answers {
  margin-right: 10px;
}