<div *ngIf = "!quizList" class = "spinner-grow text-primary" > </div>

<div *ngIf = "quizList" class  = "welcome">

  <div class = "title">
    <h1 class = "mat-display-2"> Quizzes : </h1>
  </div>

  <div class = "quiz-list">

    <mat-card *ngFor = "let quizItem of quizList" class = "quiz-card">

      <mat-card-title> {{ quizItem.name }} </mat-card-title>
      <mat-card-content> {{ quizItem.description }} </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button routerLink = "/{{quizItem.label}}">
          Select
        </button>
      </mat-card-actions>

    </mat-card>

  </div>

</div>